<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.market.loan">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_2"
        android:supportsRtl="true"
        android:theme="@style/RedTheme.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".activity.ProfileBankInfoActivity" />
        <activity android:name=".activity.ProfileWorkInfoActivity" />
        <activity android:name=".activity.ProfileBasicInfoActivity" />
        <activity android:name=".activity.BankInfoActivity" />
        <activity android:name=".activity.WorkInfoActivity" />
        <activity android:name=".activity.FeedbackActivity" />
        <activity android:name=".activity.MyProfileActivity" />
        <activity android:name=".activity.MyPageActivity" />
        <activity android:name=".activity.PayEndActivity" />
        <activity android:name=".activity.PayActivity" />
        <activity android:name=".activity.ApprovedActivity" />
        <activity android:name=".activity.ReviewingActivity" />
        <activity android:name=".activity.BaseInfoActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.LoginActivity"/>
        <activity
            android:name=".StartActivity"
            android:theme="@style/RedTheme.NoActionBar.Start">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>